<app-sidenav
  *ngIf="!isMobile"
  (onToggleSideNav)="onToggleSideNav($event)"
></app-sidenav>

<app-header [isMobile]="isMobile"></app-header>

<app-body
  [collapsed]="isSideNavCollapsed"
  [isMobile]="isMobile"
  [screenWidth]="screenWidth"
></app-body>

<footer
  class="footer text-center"
  [ngClass]="
    isSideNavCollapsed ? 'footer-trimmed' : isMobile ? 'footer-mobile' : ''
  "
>
  <small class="py-2"
    >© {{ currentYear ? currentYear : "2024" }} QueryMinds Industries Limited.
    All rights reserved
  </small>
</footer>
